*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
}

:root{
    --border:8px solid rgb(128, 125, 125);
}

body{
    background-color: black;
    overflow-x: hidden;
    position:relative;
}

header{
    position:absolute;
    top:15px;
    z-index:3;
}

.nav-container{
    display: inline-block;
    width:100vw;
    padding:5px 20px;   
}

.nav-bar{
    width:80vw;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center
}

.logo{
    width:170px;
    padding:5px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    object-fit:contain;
}

.nav-right-box{
    width:25vw;
    display: flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    padding:5px 10px;
}

.language-button{
    padding:7px 15px;
    border-radius: 5px;
    border:1px solid rgb(121, 117, 117);
    font-size:1rem;
    color:rgb(231, 228, 228);
    background-color: black;
    cursor: pointer;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
}

.signin-button{
    padding:7px 15px;
    border-radius: 5px;
    border:none;
    font-size:1rem;
    color:white;
    background-color: red;
    cursor: pointer;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
}



/* **************main***************** */

.hero-container{
    width:100vw;
    height:115vh;
    position:relative; 
    top:0px;
    overflow: hidden; 
    border-bottom:var(--border);
}

.back-img{
    object-fit:cover;
    object-position: center center;
}

.black-filter{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    background-color: black;
    filter:opacity(0.5);
}

.signin-container{
    width:100vw;
    position:absolute;
    top:40%;
}

.content-container{
    margin:auto;

    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    gap:22px;
}

.heading1{
    color:white;
    font-size:3.1rem;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    
}

.heading2{
    color:rgb(255, 255, 255);
    font-size:1.8rem;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}

.heading3{
    color:rgb(255, 255, 255);
    font-size:1.6rem;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}

.email-container{
    height:60px;
    display: flex;
    justify-content:center;
    gap:12px;
}

.email-box{
    width:400px;
    padding-left:10px;
    font-size:1.1rem;
    background-color:black;
    color:white;
    border:1px solid rgb(131, 130, 130);
    border-radius:6px;
    opacity:0.85;
}

.start-button{
    padding:4px 20px;
    text-align:center;
    font-size:1.4rem;
    border-radius:6px;
    background-color: red;
    color:white;
    font-weight:bolder;
    border:none;
    cursor: pointer;
}


/* ******************section2******************* */

.first{
    padding:30px 0px;
    height:78vh;
    border-bottom: var(--border);
}

.first-container{
    width:80vw;
    height:100%;
    margin:auto;

    display:flex;
    justify-content:center;
    align-items: center;
}

 .first-leftBox{
    width:50%;
    height:100%;
    padding:5px;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
    gap:20px;

}

.first-leftBox h1{
    width:100%;
    color:white;
    font-size:3.6rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
}

.first-leftBox p{
    width:100%;
    color:white;
    font-size:1.65rem;
    font-family: 'Times New Roman', Times, serif;
}

.first-rightBox{
    width:50%;
    height:100%;
    position:relative;
    top:0px;
}

.first-rightBox img{
    width:100%;
    height:100%;
    padding: 5px;
    position:absolute;
    top:0px;
    object-fit: contain;
    z-index:3;
}

.first-rightBox video{
    width: 100%;
    height: 55%;
    padding: 5px;
    position: absolute;
    top:80px;
} 


.third-rightBox{
    width:50%;
    height:100%;
    position:relative;
    top:0px;
}

.third-rightBox img{
    width:100%;
    height:100%;
    padding: 5px;
    position:absolute;
    top:0px;
    object-fit: contain;
    z-index:3;
}

.third-rightBox video{
    width: 100%;
    height: 48%;
    padding: 5px;
    position: absolute;
    top:50px;
} 

.faq{
    padding:30px 0px;
    width:100vw;
    border-bottom: var(--border);
}

.faq-container{
    width:90vw;
    height:100%;
    margin:auto;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.faq-heading h1{
    width:85vw;
    text-align:center;
    color:white;
    padding:30px;
    margin:auto;
    font-size:3.6rem;

}

.faq-item{
    width:75vw;
    margin: 9px auto;
    padding:23px 30px;
    background-color: #2d2d2d;
    cursor: pointer;

    display:flex;
    align-items:center;
    justify-content: space-between;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.faq-item:hover{
    background-color: #535151;
}

.question{
    color:white;
    font-size: 1.8rem;
}

.faq-item i{
    color:white;
    font-size:2rem;
}

.faq-signin-container{
    width:100vw;
    height:30vh;
    margin-top:50px;
}


/* **************footer***************** */

footer{
    width:100vw;
    padding:70px;
}
.footer-container{
    width:80vw;
    margin:auto;
    padding:10px;
}

.contact p{
    width:100%;
    font-size: 1.1rem;
    color:rgb(197, 196, 196);
}

.footer-links{
    width:100%;
    display:grid;
    padding:20px 0px;
    grid-template-rows:repeat(4,30px);
    grid-template-columns: repeat(4,1fr);
    gap:15px;
}

.footer-links a{
    font-size: 1.1rem;
    color:rgb(168, 168, 168);
}

.footer-language-button{
    width:25vw;
    height:80%;
    
}

.netflix-india p{
    margin:25px 0px;
    font-size: 1.1rem;
    color:rgb(197, 196, 196);
}





@media(min-width:961px) and (max-width:1060px){
    body{
        overflow-x:hidden;
    }
    .nav-bar{
        width:100vw;
        padding:0px 30px;
    }
    .nav-right-box{
        width:30vw;
    }
    .language-button{
        font-size:0.9rem;
    }
    .signin-button{
        font-size:0.9rem;
    }
}

@media(min-width:600px) and (max-width:960px){
    .nav-bar{
        width:100vw;
        padding:0px 30px;
    }
    .logo{
        width:120px;
    }
    .nav-right-box{
        width:40vw;
    }
    .language-button{
        padding:7px 7px;
        font-size:0.9rem;
    }
    .signin-button{
        padding:7px 7px;
        font-size:0.9rem;
    }
    .signin-container{
        width:100vw;
        top:40%;
    }
    .content-container{
        width:65%;
    }
    .heading1{
        font-size:2.2rem;  
    }
    .heading2{
        font-size:1.3rem;
    }
    .heading3{
        font-size:1.2rem;
    }
    .email-box{
        width:300px;
        font-size:1.2rem;
    }
    
    .start-button{
        width:190px;
        padding:4px 20px;
        font-size:1.1rem;
    }
    .first{
        width:100%;
        height:600px;
        padding:10px;
    }
    .first-container{
        flex-direction: column;
    }
    .first-leftBox{
        width:100%;
        height:20%;
    }
    
    .first-leftBox h1{
        font-size:2.1rem;
        text-align: center;
    }
    
    .first-leftBox p{
        width:100%;
        font-size:1.25rem;
        text-align: center;
    }
    
    .first-rightBox{
        width:100%;
        height:70%;
    }
    .second-leftBox,.fourth-leftBox{
        height:29%;
    }
    .second,.fourth{
        display:flex;
        flex-direction:column-reverse;
    }
    .third-rightBox{
        width:100%;
        height:70%;
    }
    .third-rightBox video{
        height: 45%;   
    } 
    .faq-heading h1 {
        font-size: 2.5rem;
    }
    .faq-item {
        width: 90vw;
    }
    .question {
        font-size: 1.3rem;
    }
    .faq-item i{
        font-size: 1.3rem;
    }
    .footer-links{
        grid-template-columns: repeat(2,1fr);
    }  
}


@media(min-width:370px) and (max-width:599px){
    .nav-container{
        padding:5px 5px;   
    }
    .nav-bar{
        width:95vw;
        padding:0px 0px;
    }
    .logo{
        width:100px;
    }
    .nav-right-box{
        width:55vw;
    }
    .language-button{
        padding:7px 7px;
        font-size:0.8rem;
    }
    .signin-button{
        padding:7px 7px;
        font-size:0.8rem;
    }
    .signin-container{
        width:100vw;
        top:30%;
    }
    .content-container{
        width:90%;
    }
    .heading1{
        font-size:1.8rem;  
    }
    .heading2{
        font-size:1.1rem;
    }
    .heading3{
        font-size:1rem;
    }
    .email-container{
        flex-direction:column;
        justify-content: center;
        align-items:center;
        height:100px;
    }
    .email-box{
        width:80vw;
        height:50px;
        font-size:0.9rem;
    }
    .start-button{
        padding:8px 20px;
        font-size:0.9rem;
    }
    .hero-container{
        height:82vh;
    }
    .first{
        width:100%;
        height:450px;
        padding:10px;
    }
    .first-container{
        flex-direction:column;
    }
    .first-leftBox{
        width:100%;
        height:29%;
    }
    .first-leftBox h1{
        font-size:1.8rem;
        text-align: center;
    }
    .first-leftBox p{
        width:100%;
        font-size:1rem;
        text-align: center;
    }
    .first-rightBox{
        width:100%;
        height:70%;
    }
    .second-leftBox,.fourth-leftBox{
        height:48%;
    }
    .second,.fourth{
        display:flex;
        flex-direction:column-reverse;
    }
    .third-rightBox{
        width:100%;
        height:70%;
    }
    .third-rightBox video{
        height: 40%;   
    } 
    .faq-heading h1 {
        font-size: 1.8rem;
        padding:5px;
    }
    .faq-item {
        width: 90vw;
    }
    .question {
        font-size: 1.2rem;
    }
    .faq-item i{
        font-size: 1.2rem;
    }
     
    footer{
        padding:15px;
    }
    .footer-container{
        padding:2px;
    }
    
    .contact p{
        font-size: 0.9rem;
        margin:10px 0px;
    }
    
    .footer-links{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
        row-gap: 20px;
    } 
    
    .footer-links a{
        font-size: 0.9rem;
    }
    
    .footer-language-button{
        width:30vw;
        height:60%;   
    }
    
    .netflix-india p{
        margin:15px 0px;
        font-size: 0.9rem;
    }
}


